@use 'sass:math';

// --------------------
// VARIÁVEIS PRINCIPAIS
// --------------------
$day-size: 100px;
$gap: 1px;
$border: 1px;
$padding: 10px; // Ajustado para 10px conforme requisito
$columns: 7;
$total-days: 31;
$calendar-width: ($columns * $day-size) + (($columns - 1) * $gap) + (2 * $padding);



// --------------------
// CORES
// --------------------
$color-bg: #fff;
$color-day-bg: #eee;
$color-border: #000;
$color-hover: #FFBFCB;
$color-text: #333;
$color-body-bg: #fafafa;

// --------------------
// TIPOGRAFIA
// --------------------
$font-size: 24px;
$font-family: Arial, sans-serif;
$font-weight: bold;
