// main.scss
@use './reset' as *;          // reset não precisa de namespace
@use './variables' as vars;   // variáveis
@use './calendar' as cal;     // estilos do calendário

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  font-family: vars.$font-family;   // usa namespace vars

  background: vars.$color-body-bg;
}